<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEN 3 Document</title>
</head>
<body>
    <center>
        <h1>
            Welcome to the GENERIC  URL Mapping 3 PAGE
        </h1>
        <h1><a href="{% url 'gen2' %}" target="_blank"> Navigate to gen2</a></h1>
        <h1><a href="{% url 'gen1' %}" target="_blank"> Navigate to gen1</a></h1>
        <h1><a href="{% url 'gen4' %}" target="_blank"> Navigate to gen4</a></h1>

        <h1><a href="{% url 'sai:spec1' %}" target="_blank"> Navigate to sai_spec1</a></h1>
        <h1><a href="{% url 'shankar:spec2' %}" target="_blank"> Navigate to shankar_spec2</a></h1>
        <h1><a href="{% url 'ssv:spec3' %}" target="_blank"> Navigate to ssv_spec3</a></h1>
        <h1><a href="{% url 'vemula:spec4' %}" target="_blank"> Navigate to vemula_spec4</a></h1>
    </center>
</body>
</html>